#jumbo {
  display: flex;
  background-color: #F2C078;
}

#jumbo h2 {
  padding-bottom: 2rem;
}

#home {
  padding: 1rem;
  
}

#profilePic {
  border: 1em solid #59656F;
}

.summary-wrapper {
  padding-bottom: 2rem;
  width: 75%;
}

#contactButton {
  background-color: #1D4E89;
}