@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.App {
  min-height: 100vh;
  background: url(./images/backImg.jpg) no-repeat center;
  background-size: cover;
  font-family: "Lobster", cursive;
}
