#projects {
  margin: 1rem 1rem 3rem 1rem;
  text-align: center;
  background-color: #f2c078;
  border-radius: 10px;
}

#projects h1 {
  padding: 1rem 0;
}

#carousel {
  margin: 1rem;
  border: 5px solid gray;
  border-radius: 10px;
}

.caption {
  color: #c8f7c5;
  background-color: #59656f;
  border-radius: 10px;
  opacity: 0.9;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.external-icon {
  padding-left: 0.5em;
  color: #c8f7c5;
}

.github-icon {
  padding-right: 0.5em;
  color: #c8f7c5;
}
