#jumbo {
  display: flex;
  background-color: #f2c078;
}

#jumbo h2 {
  padding-bottom: 2rem;
}

#about {
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 3rem;
}

#profilePic {
  border: 1em solid #59656f;
  max-width: 30%;
  max-height: 400px;
}

.summary-wrapper {
  padding-bottom: 2rem;
  width: 75%;
}

#contactButton {
  background-color: #1d4e89;
}


@media only screen and (min-width: 2560px) {
  #profilePic {
    max-height: none;
  }

}
@media screen and (max-width: 1024px) {
  #profilePic {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  #profilePic {
    max-width: 50%;
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  #jumbo {
    text-align: center;
    flex-direction: column;
  }
  #profilePic {
    margin-top: 1rem;
    max-width: 100%;
    height: 500px;
  }

  .summary-wrapper {
    text-align: left;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #profilePic {
    height: 350px;
  }
}
