#jumbo {
  display: flex;
  background-color: #f2c078;
}

#jumbo h2 {
  padding-bottom: 2rem;
}

#about {
  padding: 1rem;
}

#profilePic {
  border: 1em solid #59656f;
}

.summary-wrapper {
  padding-bottom: 2rem;
  width: 75%;
}

#contactButton {
  background-color: #1d4e89;
}
